<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %>, Welcome to Friendly Quizz! </h1>
    <p>
      You have successfully signed up to Friendly Quizz,
      Please use this OTP - <%= @otp_code %> to verify and proceed further.<br>
    </p>
    <p>
      Note - This OTP is valid for next 2 minutes only.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
