<div class="text-center jumbotron mt-5">
  <div class="container">
    <h1 class="display-2 font-weight-bold">Friends Academy</h1>
      <p class="mt-4"><%= link_to 'Log In', login_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>

