<h1>Upload Quiz</h1>
<p>Visit below page to upload quiz.</p>
<p>https://docs.google.com/spreadsheets/d/1W27wV1hKRsyu-TGWpjyocPCfZY33EO3jh5jFBfbO6B8/edit#gid=0</p>


<%= link_to 'Sync quiz', sync_quiz_path, :method => :post, class: 'btn btn-primary btn-sm' %>