
@import "font-awesome";
@import "bootstrap";


footer {
	color: #777;
}

footer ul {
	list-style: none;
}

.clickable {
	cursor: pointer;
}

.grey-back {
	background-color: #F5F5F5;
}

.alert-icon {
	color: red;
}

.option-btn {
	width: 250px;
    height: 100px;
    display: inline-block;
    white-space: normal;
}

.button-col {
	max-width: 49%;
}

.star-icon {
	color: yellow;
}
